@import "tailwindcss";

.font1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.font5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.font2 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.font3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.font4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

